@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #F4F7FF;
}

main#root {
  height: 100%;
  display: grid;
  grid-template-rows: 20% 80%;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
}

header#filter {
  width: 75%;
  min-width: 555px;
  max-width: 600px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-row: 1/2;
}
header#filter div.data_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
header#filter div.data_box input.data {
  min-width: 100px;
  margin: 0 10px;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background: linear-gradient(90deg, #47BFB9 0%, #53ddd6 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
header#filter div.data_box p.filter_text {
  margin: 0 10px;
  color: #969696;
}
header#filter button#filter_button {
  border-radius: 5px;
  padding: 5px 15px;
  margin-left: 10px;
  color: #fff;
  background: linear-gradient(90deg, #2878D9 0%, #3792FF 100%);
}
header#filter button#filter_button:hover {
  cursor: pointer;
}

section#main_box {
  width: 75%;
  min-width: 350px;
  max-width: 1000px;
  min-height: max(300px, 50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-row: 2/3;
}
section#main_box section#box-long {
  flex: 65%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin-right: 15px;
}
section#main_box section#box-long div.data_long {
  display: flex;
  align-items: center;
  width: 100%;
  height: max(35px, 3.9vw);
  background: linear-gradient(90deg, #2878D9 0%, #3792FF 100%);
  box-sizing: border-box;
  margin: 5px 0;
  padding-left: 60px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}
section#main_box section#box-short {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
section#main_box section#box-short div.data_short {
  flex: 20%;
  aspect-ratio: 2.5/1;
  max-height: 90px;
  min-height: 50px;
  background: linear-gradient(90deg, #47BFB9 0%, #53ddd6 100%);
  margin: 5px 0;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  white-space: nowrap;
}

@media (min-width: 1400px) {
  section#box-long {
    font-size: min(27px, 1.8vw);
  }
  h4 {
    font-size: min(20px, 1.5vw);
  }
}
@media (max-width: 1399px) {
  h4 {
    font-size: max(10px, 1.4vw);
  }
  section#box-long {
    font-size: max(15px, 1.8vw);
  }
}
@media (max-width: 600px) {
  header#filter {
    min-width: auto;
    flex-direction: column;
  }
  header#filter div.data_box {
    margin: 5px 0;
  }
  header#filter button#filter_button {
    margin-top: 10px;
  }
}/*# sourceMappingURL=index.css.map */